doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DOOM
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header
      h1 Doom
    main
      ul
      form#message-form
        input(type="text", placeholder="Write your message")
        button Send
      form#nickname-form
        input(type="text", placeholder="Set your nickname")
        button Change
    script(src="/public/js/app.js") 