doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DOOM
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    header
      h1 Doom
    main
      h2 Welcome to DOOM
      p This is a simple game made with JavaScript
      button Play
    script(src="/public/js/app.js") 